/* ====== html and Body ====*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  font-family: "Darker Grotesque", sans-serif;
  background: #cfcdcd;
}

/* ========= links ======= */
a {
  color: #dddddd;
}

/* ==== Navbar layout ========== */
.container {
  max-width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  z-index: 200;
  position: fixed;
  overflow-x: hidden;
}

label {
  cursor: pointer;
  display: block;
  height: 6rem;
  width: 4rem;
  position: relative;
  z-index: 10;
}

label span {
  border-radius: 15%;
  height: 3px;
  width: 32px;
  background-color: rgb(12, 11, 8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:before {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(12, 11, 8);
  top: 400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:after {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(12, 11, 8);
  top: -400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span {
  height: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:before {
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:after {
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav {
  max-width: 200px;
  background-color: transparent;
  -webkit-transform: translateX(-100%) scale(1, 0.1);
  transform: translateX(-100%) scale(1, 0.1);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

nav ul li a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 1rem;
  text-decoration: none;
  color: #0a0a0a;
  display: block;
  padding: 1rem;
  font-size: xx-large;
}

nav ul li:hover a {
  color: #d3c8c8;
  background-color: #292929;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul li:hover a i {
  color: #110f0f;
}

.navBtn:checked ~ nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navBtn:checked ~ nav ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navBtn {
  display: none;
}

.sub-menu-1 {
  display: none;
}

.nav-bar:nth-child(2) {
  position: relative;
}

.nav-bar:hover .sub-menu-1 {
  display: block;
  width: 300px;
  position: absolute;
  top: -10px;
  left: 190px;
  z-index: 100;
}

.nav-bar:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
  z-index: 100;
  background: rgb(71, 7, 52);
}

.nav-bar:hover .sub-menu-1 ul li {
  width: 100%;
  /* padding: 10px 0; */
}

.nav-bar:hover .sub-menu-1 ul li a {
  background-color: black;
}

.sub-menu-1 ul li:hover > a {
  color: rgb(212, 0, 0);
  text-transform: uppercase;
}

.fas {
  margin-right: 10px;
}

/* ============ top container ================ */
.top-container {
  position: absolute;
  top: 0px;
  left: 180px;
  display: flex;
  width: 50vw;
  height: 8rem;
  z-index: 1;
}

.top-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  padding-left: 20px;
  position: relative;
}

.education h2:before {
  content: "";
  position: absolute;
  background: transparent;
  bottom: 20px;
  left: 0;
  height: 16px;
  width: 16px;
  border-left: solid 3px #0c0c0c;
  border-top: solid 3px #0c0c0c;
}

.education h2:after {
  content: "";
  position: absolute;
  background: transparent;
  bottom: -10px;
  right: -17px;
  letter-spacing: 0.4rem;
  height: 16px;
  width: 16px;
  border-right: solid 3px #0c0c0c;
  border-bottom: solid 3px #0c0c0c;
}

.download {
  cursor: pointer;
  margin-top: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 20%;
  left: 100%;
}

.download-button .fas {
  font-size: 3rem;
  margin-left: 40%;
  padding-bottom: 5px;
}

.top-container a,
a:visited,
a:active {
  color: inherit;
}

.top-container a:hover {
  color: #726c6c;
}

/* ============ main Content ===================== */
.main1 {
  width: 90vw;
}

.main1 hr:first-child {
  width: 80vw;
  position: relative;
  left: 10%;
  margin: 10px 0;
}

/* ========= Employment box ====================== */
main .employment {
  position: relative;
  width: 300px;
  left: 6%;
  width: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: 11rem 20rem 20rem repeat(7, 1fr);
  grid-template-rows: repeat(10px 150px 150px 150px 150px);
  gap: 10px 10px;
  grid-template-areas:
    ".eduTitle eduTitle . title title title title title title"
    "self . . . history history history history history history"
    "self edu2 edu1 . history history history history history history"
    "self edu3 edu4 . history history history history history history"
    "self edu5 edu6 . rank1 rank2 rank3 rank4 rank5 rank6"
    "self edu7 edu8 . rank1 rank2 rank3 rank4 rank5 rank6"
    ". . . . rank1 rank2 rank3 rank4 rank5 rank6";
}

.rank {
  text-align: center;
}
.rank img {
  width: 80px;
  opacity: 0.7;
}
.rank1 {
  grid-area: rank1;
}
.rank2 {
  grid-area: rank2;
}

.rank3 {
  grid-area: rank3;
}
.rank4 {
  grid-area: rank4;
}
.rank5 {
  grid-area: rank5;
}
.rank6 {
  grid-area: rank6;
}
.title {
  grid-area: title;
  font-size: 2rem;
}

.history {
  grid-area: history;
}

.history h2 {
  padding: 0;
  margin: 10px 0;
}

.history li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2em;
}

.edu-title {
  grid-area: eduTitle;
  font: 2rem;
}

.edu-title h1 {
  font-size: 3rem;
}

.edu1 {
  grid-area: edu1;
}

.edu2 {
  grid-area: edu2;
}
.edu3 {
  grid-area: edu3;
}

.edu4 {
  grid-area: edu4;
}
.edu5 {
  grid-area: edu5;
}

.edu6 {
  grid-area: edu6;
}
.edu7 {
  grid-area: edu7;
  align-self: start;
}

.edu8 {
  grid-area: edu8;
}

.self {
  grid-area: self;
  justify-content: flex-start;
}

/* ============ Biobox ============== */

.bio {
  font-size: 2rem;
  width: 90%;
  position: relative;
  left: 5%;
}

/* ============= mission ============ */

.mission-vision {
  width: 100%;
  height: 200px;
  background-image: url(./images/Our_Mission_and_Vision_banner.jpg);
  background-position: center center;
  position: relative;
}

.mission-vision h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #cfcdcd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* =========== mission statements ================== */

article .mission-container {
  width: 80vw;
  position: relative;
  left: 10%;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
  gap: 40px;
  grid-template:
    "para1 para3"
    "para2 para3";
  font-size: 1.4rem;
  text-align: justify;
}

.mission-para1 {
  grid-area: para1;
}

.mission-para2 {
  grid-area: para2;
}

.mission-para3 {
  grid-area: para3;
}

.mission {
  color: rgb(2, 2, 90);
}
.mission .fas,
.mission .far {
  margin-right: 10px;
}

/* ============= Newsletter section =============== */

.newsletter {
  padding: 10px;
}

input[type="text"],
input[type="submit"] {
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.email-placeholder p {
  width: 100%;
  margin-top: -4.5rem;
  font-size: 0.7em;
  text-align: left;
}
/* ============= grid for newsletter ========== */

.contact-grid {
  width: 90vw;
  position: relative;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 1.4rem;
  grid-template-areas: "one two three";
}

.contact-grid li {
  list-style-type: none;
  padding: 10px;
}
.contact {
  grid-area: one;
  margin-top: 20px;
}

.connect {
  grid-area: three;
  margin-top: 5rem;
}

.contact li a {
  color: #110f0f;
}

.contact .fab {
  margin-right: 10px;
}
.newsletter-container {
  grid-area: two;
}

.social {
  display: inline-flex;
  width: 100%;
  font-size: x-large;
  align-self: center;
}
.social a,
.contact a {
  text-decoration: none;
}
.social a:hover,
.contact a:hover {
  text-decoration: underline;
}

.social .fab {
  width: 100%;
  text-align: center;
}

#myBtn {
  position: sticky;
  bottom: 1rem;
  left: 98%;
  background-color: transparent;
  border: none;
  scroll-behavior: smooth;
}

#myBtn .fas {
  font-size: 4rem;
  color: orange;
}

footer {
  width: 100%;
  background-color: rgb(24, 20, 77);
  height: 6rem;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* ============= media =============== */

@media screen and (max-width: 1500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 10rem);
    grid-template-rows: repeat(5, 50px 5, 100px);
    gap: 10px 10px;
  }

  .rank {
    width: 100%;
  }
  .rank img {
    width: 60px;
    opacity: 0.7;
    align-self: center;
    justify-self: center;
  }
  .rank1 {
    grid-area: 9/1/9/2;
  }
  .rank2 {
    grid-area: 9/2/9/3;
  }

  .rank3 {
    grid-area: 9/3/9/4;
  }
  .rank4 {
    grid-area: 9/4/9/5;
  }
  .rank5 {
    grid-area: 9/5/9/6;
  }
  .rank6 {
    grid-area: 9/6/9/7;
  }
  .title {
    grid-area: 7/1/7/2;
    font-size: 2rem;
  }

  .history {
    grid-area: 8/1/8/3;
  }

  .history h2 {
    padding: 0;
    margin: 10px 0;
  }

  .history li {
    list-style-type: none;
    font-weight: 500;
    font-size: 1.2em;
  }

  .edu-title {
    grid-area: eduTitle;
    font: 2rem;
  }

  .edu-title h1 {
    font-size: 3rem;
  }

  .edu1 {
    grid-area: edu1;
  }

  .edu2 {
    grid-area: edu2;
  }
  .edu3 {
    grid-area: edu3;
  }

  .edu4 {
    grid-area: edu4;
  }
  .edu5 {
    grid-area: edu5;
  }

  .edu6 {
    grid-area: edu6;
  }
  .edu7 {
    grid-area: edu7;
    align-self: start;
  }

  .edu8 {
    grid-area: edu8;
  }

  .self {
    grid-area: self;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .rank {
    display: none;
  }

  .self {
    transform: scale(0.5);
    position: absolute;
    top: -10%;
  }

  .download {
    position: absolute;
  }
}

@media screen and (max-width: 800px) {
  nav {
    max-width: 140px;
    position: fixed;
    left: 10%;
    top: 0%;
  }

  nav ul li a {
    padding: 5px;
    font-size: 1.2rem;
  }

  main hr:first-child {
    display: none;
  }

  .top-container {
    white-space: inherit;
  }

  main {
    width: 100vw;
    position: relative;
  }

  .employment {
    white-space: wrap;
  }

  .self {
    display: none;
  }
  .history {
    grid-area: 8/1/8/4;
  }
  .edu-title {
    grid-area: 1/1/2/2;
  }

  .edu2 {
    grid-area: 2/1/2/2;
  }

  .edu1 {
    grid-area: 2/2/2/3;
  }

  .edu3 {
    grid-area: 3/1/3/2;
  }

  .edu4 {
    grid-area: 3/2/3/3;
  }

  .edu5 {
    grid-area: 4/1/4/2;
  }

  .edu6 {
    grid-area: 4/2/4/3;
  }

  .edu7 {
    grid-area: 5/1/5/2;
  }

  .edu8 {
    grid-area: 5/2/5/3;
  }

  .connect {
    margin-top: 0;
  }
  .connect hr{ 
    display: none;

  }

  .connect ul {
    display: inline;
   align-items: start;
  
  }

  .connect ul li {
    text-align: center;
  }

  .contact {
    white-space: inherit;
  }

  .mission {
    white-space: inherit;
  }

  .mission-vision {
    width: inherit;
  }
}
