/* ====== html and Body ====*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Darker Grotesque", sans-serif;
  background: #010101;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
    z-index: 1;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
    z-index: 1;
  }
  to {
    background-position: -10000px 5000px;
    z-index: 1;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
    z-index: 1;
  }
  to {
    background-position: 10000px 0;
    z-index: 1;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
    z-index: 1;
  }
  to {
    background-position: 10000px 0;
    z-index: 1;
  }
}

.stars,
.clouds {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.twinkling {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.stars {
  background: #000 url(./images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(./images/twinkling.png) repeat top center;
  z-index: 1;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(./images/clouds.png) repeat top center;
  z-index: 3;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

/* ========= links ======= */
a {
  color: #dddddd;
}

/* ==== Navbar layout ========== */
.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 200;
  position: relative;
}

.floatLeft {
  float: left;
}

.posAbs {
  position: absolute;
}

label {
  cursor: pointer;
  display: block;
  height: 6rem;
  width: 4rem;
  position: relative;
  z-index: 10;
}

label span {
  border-radius: 15%;
  height: 3px;
  width: 32px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:before {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  top: 400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:after {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  top: -400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span {
  height: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:before {
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:after {
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav {
  max-width: 200px;
  background-color: transparent;
  -webkit-transform: translateX(-100%) scale(1, 0.1);
          transform: translateX(-100%) scale(1, 0.1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

nav ul li a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 1rem;
  text-decoration: none;
  color: #8a8d92;
  display: block;
  padding: 1rem;
  font-size: xx-large;
}

nav ul li:hover a {
  color: #d3c8c8;
  background-color: #292929;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul li:hover a i {
  color: #d3c8c8;
}

.navBtn:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navBtn:checked ~ nav ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navBtn {
  display: none;
}

.sub-menu-1 {
  display: none;
}

.nav-bar:nth-child(2) {
  position: relative;
}

.nav-bar:hover .sub-menu-1 {
  display: block;
  width: 300px;
  position: absolute;
  top: -10px;
  left: 190px;
  z-index: 100;
}

.nav-bar:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
  z-index: 100;
  background: transparent;
}

.nav-bar:hover .sub-menu-1 ul li {
  width: 100%;
  /* padding: 10px 0; */
}

.nav-bar:hover .sub-menu-1 ul li a {
  background-color: transparent;
}

.sub-menu-1 ul li:hover > a {
  color: whitesmoke;
  text-transform: uppercase;
}

.fas {
  margin-right: 10px;
}

.logo-Snell {
  position: absolute;
  overflow-y: hidden;
  text-align: center;
  left: 40%;
  top: 10%;
  z-index: 100;
}

.container2 {
  width: 80%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two three four";
  position: absolute;
  left: 10%;
  top: 50%;
  margin: 0;
  border: none;
  z-index: 100;
}

.container2 div {
  width: 20vw;
  height: 20vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(208, 209, 211, 0.972);
}

.thumbnail1 {
  grid-area: "one";
  font-size: 3rem;
  line-break: auto;
}

.thumbnail1 span {
  color: #926b07;
  font-weight: bold;
}

.thumbnail2 {
  grid-area: "two";
  font-size: 3rem;
}

.thumbnail2 span {
  color: #4e7e06;
  font-weight: bold;
}

.thumbnail3 {
  grid-area: "three";
  font-size: 3rem;
}

.thumbnail3 span {
  color: #035283;
  font-weight: bold;
}

.thumbnail4 {
  grid-area: "four";
  font-size: 3rem;
}

.thumbnail4 span {
  color: rgba(179, 2, 2, 0.699);
  font-weight: bold;
}

/*============ footer ============*/
footer {
  color: #dddddd;
  position: relative;
  width: 100vw;
  bottom: 0;
  text-align: center;
  z-index: 10;
}

.footer-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
}

.footer-icon ion-icon {
  font-size: 2rem;
  margin: 1rem 0.5rem;
  color: #dddddd81;
}

.container_2 {
  width: 90%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two three four five";
  position: absolute;
  left: 5%;
  top: 50%;
  margin: 0;
  border: none;
  z-index: 100;
}

.container_2 div {
  width: 15vw;
  height: 20vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.container_2 div .fas,
.container_2 div .fab {
  font-size: 3rem;
}

.container_2 div a {
  text-decoration: none;
}

.container_2 div a:hover {
  text-decoration: underline;
  color: rgba(235, 233, 228, 0.705);
}

.container_2 div span {
  color: rgba(235, 233, 228, 0.705);
  font-weight: bold;
}

.contact_1 {
  grid-area: "one";
  font-size: 1.3rem;
}

.contact_1 .fas {
  color: #926b07;
}

.contact_2 {
  grid-area: "two";
  font-size: 1.3rem;
}

.contact_2 .fas {
  color: rgba(179, 2, 2, 0.699);
}

.contact_3 {
  grid-area: "three";
  font-size: 1.3rem;
}

.contact_3 .fas {
  color: #035283;
}

.contact_4 {
  grid-area: "four";
  font-size: 1.3rem;
}

.contact_4 .fab {
  color: #4e7e06;
}

.contact_5 {
  grid-area: "five";
  font-size: 1.3rem;
  text-align: center;
}

.contact_5 .fas {
  color: rgba(244, 165, 96, 0.459);
}

@media screen and (max-width: 850px) {
  body {
    width: 100vw;
  }
  .logo-Snell {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: -20%;
  }
  .container_2 {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
    -ms-grid-rows: 25rem (12rem)[4];
        grid-template-rows: 25rem repeat(4, 12rem);
    gap: 10px;
        grid-template-areas: "one" "two" "three" "four" "five";
  }
  .container_2 .contact_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: inherit;
  }
  .container_2 .contact_2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: two;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .container_2 .contact_3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: three;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .container_2 .contact_4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: four;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .container_2 .contact_5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: five;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer {
    position: relative;
    width: 100%;
    height: 10vh;
  }
  footer .icon-container {
    position: relative;
    bottom: -48rem;
  }
  footer .icon-container1 {
    position: relative;
    bottom: -20rem;
  }
  nav ul li a {
    line-height: 1.2rem;
    font-size: 1.5rem;
    padding: 5PX;
    max-width: 140PX;
  }
  .container2 {
    display: -ms-grid;
    display: grid;
    width: 80%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: repeat 4, 200px;
        grid-template-rows: repeat 4, 200px;
        grid-template-areas: "thumb1" "thumb2" "thumb3" "thumb4";
  }
  .container2 .thumbnail1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: thumb1;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: nowrap;
  }
  .container2 .thumbnail2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: thumb2;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: nowrap;
  }
  .thumbnail3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: thumb3;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: nowrap;
  }
  .thumbnail4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: thumb4;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: nowrap;
  }
  .background-container .clouds,
  .background-container .stars,
  .background-container .twinkling {
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    overflow: visible;
  }
}
/*# sourceMappingURL=main.css.map */