/* ====== html and Body ====*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 150%;
  font-family: 'Pathway Gothic One', sans-serif;
  background: #cfcdcd;;
  
}



/* ========= links ======= */
a {
  color: #dddddd;
}

/* ==== Navbar layout ========== */
.container {
  max-width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  z-index: 200;
  position: fixed;
  overflow-x: hidden;
}

label {
  cursor: pointer;
  display: block;
  height: 6rem;
  width: 4rem;
  position: relative;
  z-index: 10;
}

label span {
  border-radius: 15%;
  height: 3px;
  width: 32px;
  background-color: #3f3f3f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:before {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #3f3f3f;
  top: 400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label span:after {
  border-radius: 15%;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #3f3f3f;
  top: -400%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span {
  height: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:before {
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label:hover span:after {
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav {
  max-width: 200px;
  background-color: transparent;
  -webkit-transform: translateX(-100%) scale(1, 0.1);
  transform: translateX(-100%) scale(1, 0.1);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

nav ul li a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 1rem;
  text-decoration: none;
  color: #3f3f3f;
  display: block;
  padding: 1rem;
  font-size: xx-large;
}

nav ul li:hover a {
  color: #d3c8c8;
  background-color: #292929;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav ul li:hover a i {
  color: #110f0f;
}

.navBtn:checked ~ nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navBtn:checked ~ nav ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navBtn {
  display: none;
}

.sub-menu-1 {
  display: none;
}

.nav-bar:nth-child(2) {
  position: relative;
}

.nav-bar:hover .sub-menu-1 {
  display: block;
  width: 300px;
  position: absolute;
  top: -10px;
  left: 190px;
  z-index: 100;
}

.nav-bar:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
  z-index: 100;
  background: rgb(205, 205, 214);
}

.nav-bar:hover .sub-menu-1 ul li {
  width: 100%;
  /* padding: 10px 0; */
}

.nav-bar:hover .sub-menu-1 ul li a {
  background-color: #292929;
}

.sub-menu-1 ul li:hover > a {
  color: #d3c8c8;
 
  text-transform: uppercase;
}

.fas {
  margin-right: 10px;
}

.alert {
    text-align: center;
    font-size: 4rem;
}
.card {
    position: relative;
    background-color: #CFCDCD;
    border: none;
    img {
        width: 500px;
        height: 500px;
        display: flex;
        margin: 0 auto;
    }



 .card-title {
     font-size: 2rem;
     text-align: center;

     a {
         text-decoration:none;
         color:black;
         cursor: pointer;

         &:hover {
             font-size: 3rem;
         }
     }
 }
}